{# ---------- MAIN NAVIGATION ---------- #}
<nav class="navbar" style="display: flex; justify-content: space-between; align-items: center;">
    <a href="{% url 'catalog:homepage' %}" class="brand-logo custom-logo">
        <span class="logo-3">3</span>
        <span class="logo-stack">
            <span class="logo-print">PRINT</span>
            <span class="logo-eshop">ESHOP</span>
        </span>
        <span class="logo-d">D</span>
    </a>
    <a href="{% url 'catalog:product_list' %}" class="btn-primary">Produkty</a>

     <div class="nav-account">
       {% if user.is_authenticated %}
           <span class="nav-greeting">Ahoj, {{ user.first_name|default:user.email }}</span>
           <a href="{% url 'catalog:profile_update' %}" class="btn-primary">Můj profil</a>
           <a href="{% url 'catalog:order_history' %}" class="btn-primary">Moje objednávky</a>
         {% if perms.catalog.add_product %}
           <a href="{% url 'catalog:product_create' %}" class="btn-primary">Přidat zboží</a>
         {% endif %}
           <form action="{% url 'catalog:logout' %}" method="post" class="logout-form" style="display: inline;">
               {% csrf_token %}
               <button type="submit" class="nav-logout-btn">Odhlásit se</button>
           </form>
        {% else %}
            <a href="{% url 'catalog:login' %}" class="btn-primary">Přihlásit se</a>
            <a href="{% url 'catalog:register' %}" class="btn-primary">Registrace</a>
        {% endif %}
    </div>

    <div class="nav-cart">
        <a href="{% url 'catalog:cart_detail' %}" class="btn-cart">
            🛒 Košík
            {% if cart_total_quantity > 0 %}
                <span class="badge">{{ cart_total_quantity }}</span>
            {% endif %}
        </a>
    </div>
</nav>
<hr class="header-divider">
