{% extends 'base.html' %}
{% block title %}Objednávka dokončena{% endblock %}

{% block content %}
<h1>Děkujeme za objednávku!</h1>
<p>Číslo vaší objednávky je <strong>#{{ order.id }}</strong>.</p>
<p>Na e-mail {{ order.customer_email }} vám zašleme daňový doklad, případně fakturu s potvrzením objednávky.</p>
<p>Celková částka: <strong>{{ order.total_price_gross|floatformat:"-2" }} Kč</strong></p>
<a href="{% url 'catalog:product_list' %}" class="btn-primary">Pokračovat v nákupu</a>
{% endblock %}
